<div class="row" style="height: 700px;">
    <div class="col-md-3" style=" min-width: 200px;">
        <div class="row" style="height: 100%; width: 100%">
            <div class="col-md-12" style=" height: 35%; width: 100%">
                <div class="col-md-12" style="background-color: gray; height: 60%; width: 100%">
                    <div class="d-flex justify-content-center">
                        <h4 style="margin-top: 10px; font-family: 'Times New Roman', Times, serif; color: white">Lớp:
                            Ielts cơ bản 1</h4>
                    </div>

                </div>
                <div class="col-md-12" style=" height: 40%; width: 100%">
                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/images/25396141_212655019278268_7226685007609467390_n.jpg"
                            class="rounded-circle" alt="Cinque Terre" width="100" height="100">
                    </div>

                </div>
            </div>
            <div class="col-md-12" style=" height: 50%; width: 100%">
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        <b>Khoá học</b>
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">Ielts cơ bản 1</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Ngày bắt đầu
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">16/9/2019</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Ngày kết thúc
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">25/9/2019</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Số lượng đang học
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-danger">10</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Số buổi còn lại
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-success">31</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style=" height: 15%; width: 100%">
                <div style="height: 50%;">
                    <button type="button" class="btn btn-primary" style="width: 100%">Lịch sử điểm danh</button>
                </div>
                <div style="height: 50%;">
                    <div style="float: left; width: 50%;">
                        <button type="button" class="btn btn-primary" style="width: 99%">Danh sách</button>
                    </div>
                    <div style="float: left; width: 50%;">
                        <button type="button" class="btn btn-primary" style="width: 99%; float: right">Điểm
                            danh</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3" style=" min-width: 200px;">
        <div class="row" style="height: 100%; width: 100%">
            <div class="col-md-12" style=" height: 35%; width: 100%">
                <div class="col-md-12" style="background-color: gray; height: 60%; width: 100%">
                    <div class="d-flex justify-content-center">
                        <h4 style="margin-top: 10px; font-family: 'Times New Roman', Times, serif; color: white">Lớp:
                            Ielts cơ bản 2</h4>
                    </div>

                </div>
                <div class="col-md-12" style=" height: 40%; width: 100%">
                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/images/25396141_212655019278268_7226685007609467390_n.jpg"
                            class="rounded-circle" alt="Cinque Terre" width="100" height="100">
                    </div>

                </div>
            </div>
            <div class="col-md-12" style=" height: 50%; width: 100%">
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        <b>Khoá học</b>
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">Ielts cơ bản 2</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Ngày bắt đầu
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">16/9/2019</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Ngày kết thúc
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">25/9/2019</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Số lượng đang học
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-danger">10</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Số buổi còn lại
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-success">10</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style=" height: 15%; width: 100%">
                <div style="height: 50%;">
                    <button type="button" class="btn btn-primary" style="width: 100%">Lịch sử điểm danh</button>
                </div>
                <div style="height: 50%;">
                    <div style="float: left; width: 50%;">
                        <button type="button" class="btn btn-primary" style="width: 99%">Danh sách</button>
                    </div>
                    <div style="float: left; width: 50%;">
                        <button type="button" class="btn btn-primary" style="width: 99%; float: right">Điểm
                            danh</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style=" min-width: 200px;">
        <div class="row" style="height: 100%; width: 100%">
            <div class="col-md-12" style=" height: 35%; width: 100%">
                <div class="col-md-12" style="background-color: gray; height: 60%; width: 100%">
                    <div class="d-flex justify-content-center">
                        <h4 style="margin-top: 10px; font-family: 'Times New Roman', Times, serif; color: white">Lớp:
                            Ielts cơ bản 3</h4>
                    </div>

                </div>
                <div class="col-md-12" style=" height: 40%; width: 100%">
                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/images/25396141_212655019278268_7226685007609467390_n.jpg"
                            class="rounded-circle" alt="Cinque Terre" width="100" height="100">
                    </div>

                </div>
            </div>
            <div class="col-md-12" style=" height: 50%; width: 100%">
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        <b>Khoá học</b>
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">Ielts cơ bản 3</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Ngày bắt đầu
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">16/9/2019</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Ngày kết thúc
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">25/9/2019</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Số lượng đang học
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-danger">10</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Số buổi còn lại
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-success">31</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style=" height: 15%; width: 100%">
                <div style="height: 50%;">
                    <button type="button" class="btn btn-primary" style="width: 100%">Lịch sử điểm danh</button>
                </div>
                <div style="height: 50%;">
                    <div style="float: left; width: 50%;">
                        <button type="button" class="btn btn-primary" style="width: 99%">Danh sách</button>
                    </div>
                    <div style="float: left; width: 50%;">
                        <button type="button" class="btn btn-primary" style="width: 99%; float: right">Điểm
                            danh</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style=" min-width: 200px;">
        <div class="row" style="height: 100%; width: 100%">
            <div class="col-md-12" style=" height: 35%; width: 100%">
                <div class="col-md-12" style="background-color: gray; height: 60%; width: 100%">
                    <div class="d-flex justify-content-center">
                        <h4 style="margin-top: 10px; font-family: 'Times New Roman', Times, serif; color: white">Lớp:
                            Ielts cơ bản 4</h4>
                    </div>

                </div>
                <div class="col-md-12" style=" height: 40%; width: 100%">
                    <div class="d-flex justify-content-center">
                        <img src="../../../assets/images/25396141_212655019278268_7226685007609467390_n.jpg"
                            class="rounded-circle" alt="Cinque Terre" width="100" height="100">
                    </div>

                </div>
            </div>
            <div class="col-md-12" style=" height: 50%; width: 100%">
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        <b>Khoá học</b>
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">Ielts cơ bản 4</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Ngày bắt đầu
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">16/9/2019</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Ngày kết thúc
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-primary">25/9/2019</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Số lượng đang học
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-danger">10</span>
                    </div>
                </div>
                <div style="height: 20%">
                    <div style="float: left; width: 50%;">
                        Số buổi còn lại
                    </div>
                    <div style="float: left; width: 50%;">
                        <span class="badge badge-success">31</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style=" height: 15%; width: 100%">
                <div style="height: 50%;">
                    <button type="button" class="btn btn-primary" style="width: 100%">Lịch sử điểm danh</button>
                </div>
                <div style="height: 50%;">
                    <div style="float: left; width: 50%;">
                        <button type="button" class="btn btn-primary" style="width: 99%">Danh sách</button>
                    </div>
                    <div style="float: left; width: 50%;">
                        <button type="button" class="btn btn-primary" style="width: 99%; float: right">Điểm
                            danh</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>